{% extends 'trivia/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h2>Welcome to the Trivia Game!</h2>
    <div class="section" id="play">
        <h3>Play</h3>
        <form id="send-invite-form" method="post" action="{% url 'invite' %}">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Enter username" required>
            <button type="submit" class="button">Send Invite</button>
        </form>
    </div>
    <div class="section" id="invites">
        <h3>Invitations</h3>
        <ul>
            {% for invitation in invitations %}
                <li>
                    {{ invitation.from_user.username }} has invited you to a game!
                    <a href="{% url 'accept_invitation' invitation.id %}" class="accept-invite">Accept</a> |
                    <a href="{% url 'reject_invitation' invitation.id %}" class="reject-invite">Reject</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="section" id="active-games">
        <h3>Active Games</h3>
        <ul>
            {% for game in games_with_opponent %}
                <li>
                    <a href="{% url 'game' game.game.id %}">Game with {{ game.opponent.username }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
